@page
@{
    Layout = "_Layout";
}
<div>
    <h1 class="display-4">Exception</h1>
    <ul>
        <li><a href="/api/Exception/throw" target="_blank">Throw exception</a></li>
        <li><a href="/api/Exception/throwUnhandled" target="_blank">Throw unhandle exception</a></li>
        <li><a href="/api/Exception/crash" target="_blank">Crash application</a></li>
        <li><a href="/api/Exception/exit" target="_blank">Exit application</a></li>
    </ul>
</div>
