@page
@{
    Layout = "_Layout";
}
<div>
    <h1 class="display-4">Metric spikes</h1>
    <ul>
        <li><a href="/api/Spike/cpuspike/10" target="_blank">CPU spike 10 sec</a></li>
        <li><a href="/api/Spike/memspike/10" target="_blank">Memory spike 10 sec</a></li>
        <li><a href="/api/Spike/memleak" target="_blank">Leak memory</a></li>
    </ul>
</div>
