@page
@{
    Layout = "_Layout";
}
<div>
    <h1 class="display-4">Locked Request</h1>
    <ul>
        <li><a href="/api/Lock/deadlock" target="_blank">Do deadlock</a></li>
        <li><a href="/api/Lock/semaphore" target="_blank">Wait single semaphore click here 2 times</a></li>
        <li><a href="/api/Lock/semaphoreUnavailble" target="_blank">Wait unavilable semaphore</a></li>
    </ul>
</div>
